@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300");
body, h1, h2, h3, h4, h6, p, a, span {
  font-family: "Open Sans", sans-serif;
  color: #222;
  background: #fff;
  margin: 0px;
}

a {
  position: relative;
  color: #5cabf8;
  cursor: pointer;
}

a:hover {
  color: #64b3ff;
}

.upper {
  text-transform: uppercase;
}

.row {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-bottom: 0.3%;
  clear: both;
}

.column {
  position: relative;
  display: block;
  float: left;
  margin: 0 0.25% 0.3% 0.25%;
}

input[type=submit] {
  width: 100%;
}

.button, .button input[type=submit] {
  display: block;
  cursor: pointer;
  color: #444;
  padding: 5px 15px;
  background: rgba(219, 219, 219, 0.99);
  border: 1px solid rgba(195, 195, 195, 0.99);
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  height: 35px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.button.fit, .button input[type=submit].fit {
  float: left;
}
.button.center, .button input[type=submit].center {
  text-align: center;
}
.button.left, .button input[type=submit].left {
  text-align: left;
}
.button.right, .button input[type=submit].right {
  text-align: right;
}
.button:hover, .button input[type=submit]:hover {
  color: #444;
  background: rgba(227, 227, 227, 0.99);
}
.button:focus, .button input[type=submit]:focus {
  outline: none;
}
.button.radius, .button input[type=submit].radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.button.upper, .button input[type=submit].upper {
  text-transform: uppercase;
}
.button.bold, .button input[type=submit].bold {
  font-weight: bold;
}
.button.large, .button input[type=submit].large {
  padding: 8px 20px;
  font-size: 20px;
  height: 45px;
}
.button.small, .button input[type=submit].small {
  padding: 2px 13px;
  font-size: 14px;
  height: 25px;
}
.button.red, .button input[type=submit].red {
  color: #f6f6f6;
  background: rgba(253, 46, 46, 0.88);
  border-color: rgba(255, 41, 41, 0.88);
}
.button.red:hover, .button input[type=submit].red:hover {
  color: #f6f6f6;
  background: rgba(253, 60, 60, 0.88);
}
.button.blue, .button input[type=submit].blue {
  color: #f6f6f6;
  background: rgba(46, 126, 253, 0.94);
  border-color: rgba(27, 115, 255, 0.94);
}
.button.blue:hover, .button input[type=submit].blue:hover {
  color: #f6f6f6;
  background: rgba(61, 136, 255, 0.94);
}
.button.green, .button input[type=submit].green {
  color: #f6f6f6;
  background: rgba(67, 172, 106, 0.98);
  border-color: rgba(58, 172, 100, 0.98);
}
.button.green:hover, .button input[type=submit].green:hover {
  color: #f6f6f6;
  background: rgba(90, 178, 122, 0.98);
}
.button.orange, .button input[type=submit].orange {
  color: #f6f6f6;
  background: rgba(244, 154, 48, 0.94);
  border-color: rgba(242, 148, 37, 0.94);
}
.button.orange:hover, .button input[type=submit].orange:hover {
  color: #f6f6f6;
  background: rgba(239, 161, 70, 0.94);
}
.button.black, .button input[type=submit].black {
  color: #f6f6f6;
  background: rgba(50, 50, 50, 0.98);
  border-color: rgba(51, 51, 51, 0.97);
}
.button.black:hover, .button input[type=submit].black:hover {
  color: #f6f6f6;
  background: rgba(67, 66, 66, 0.96);
}
.button.white, .button input[type=submit].white {
  color: #444;
  background: rgba(250, 250, 250, 0.98);
  border-color: rgba(51, 51, 51, 0.97);
}
.button.white:hover, .button input[type=submit].white:hover {
  color: #444;
  background: rgba(242, 242, 242, 0.97);
}

.buttons.icon .button:not(:first-child) {
  border-left: 0px;
}
.buttons.icon.separate .button:not(:first-child) {
  border-left: 1px;
  margin-left: 5px;
}
.buttons.radius .button:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 0;
  -ms-border-radius-bottomright: 0;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
.buttons.radius .button:last-child {
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -ms-border-radius-topleft: 0;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}

.panel {
  display: block;
  width: auto;
  padding: 5px;
  border: 2px solid #c3c3c3;
  background: #fafafa;
}
.panel.fit {
  float: left;
}
.panel.blue {
  background: #d2e8ff;
  border-color: #74b9ff;
}
.panel.red {
  background: #ffbebe;
  border-color: #ff5050;
}
.panel.green {
  background: #b4ffc8;
  border-color: #2ce45c;
}
.panel.orange {
  background: #ffdec2;
  border-color: #f89541;
}
.panel.inverse {
  color: #f6f6f6;
  background: #323232;
  border-color: #323232;
}
.panel.radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.panel .header {
  font-size: 18px;
  font-weight: bold;
}
.panel .header.center {
  text-align: center;
}
.panel .header.left {
  text-align: left;
}
.panel .header.right {
  text-align: right;
}
.panel .header.underline {
  text-decoration: underline;
}
.panel .content {
  text-align: left;
  margin: 5px 0 5px 0;
}
.panel .content.center {
  text-align: center;
}
.panel .content.left {
  text-align: left;
}
.panel .content.right {
  text-align: right;
}

.form .row {
  display: block;
  margin-bottom: 10px;
}
.form .row input[type=text] {
  display: block;
  width: calc(100% - 12px);
}
.form .row input[type=password] {
  display: block;
  width: calc(100% - 12px);
}
.form .row input[type=checkbox] {
  cursor: pointer;
}

input[type=text] {
  height: 33px;
  padding: 0px 5px;
  font-size: 14px;
  border: 1px solid #bbb;
}
input[type=text].radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type=text]:focus {
  outline: none;
}

input[type=password] {
  height: 33px;
  padding: 0px 5px;
  font-size: 14px;
  border: 1px solid #bbb;
}
input[type=password].radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
input[type=password]:focus {
  outline: none;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  .select {
    background: #fff;
    border: 1px solid #bbb;
  }
  .select.radius {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -ms-border-radius-topleft: 5px;
    -ms-border-radius-topright: 5px;
    -ms-border-radius-bottomright: 5px;
    -ms-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .select:after {
    position: absolute;
    top: 27px;
    right: 12px;
    font-family: "FontAwesome";
    font-size: 18px;
    content: "\f0dd";
    cursor: pointer;
  }
  .select select {
    width: 100%;
    height: 33px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    padding: 8px 8px 9px 8px;
    font-size: 14px;
    border: none;
    box-shadow: none;
    background: transparent;
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  .select select:focus {
    outline: none;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select {
      padding-right: 18px;
    }
  }
}
.nav {
  display: block;
  width: 100%;
  min-height: 40px;
  background: #333;
}
.nav a {
  text-decoration: none;
}
.nav .logo {
  float: left;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.nav .logo a {
  display: block;
  padding: 6px 15px 7px 10px;
  color: #f9f9f9;
  background: #333;
  font-size: 20px;
  cursor: pointer;
}
.nav .logo a i {
  font-size: 22px;
}
.nav .item {
  float: left;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.nav .item a {
  display: block;
  padding: 8px 15px;
  font-size: 18px;
  color: #f9f9f9;
  background: #333;
  cursor: pointer;
}
.nav .item a:hover + .sub-items {
  display: block;
}
.nav a:hover {
  background: #444;
}
.nav.separate .logo a {
  border-right: 1px solid #999;
}
.nav.separate .left a {
  border-right: 1px solid #999;
}
.nav.separate .right a {
  border-left: 1px solid #999;
}
.nav.separate .right .sub-items {
  margin-left: 1px;
}
.nav .left {
  display: block;
  float: left;
}
.nav .right {
  display: block;
  float: right;
}
.nav.red {
  background: #fa5252;
}
.nav.red a {
  color: #f9f9f9;
  background: #fa5252;
}
.nav.red a:hover {
  background: #ff6161;
}
.nav.red.separate .logo a {
  border-right: 1px solid #fff;
}
.nav.red.separate .left a {
  border-right: 1px solid #fff;
}
.nav.red.separate .right a {
  border-left: 1px solid #fff;
}
.nav.blue {
  background: #3070ff;
}
.nav.blue a {
  color: #f9f9f9;
  background: #3070ff;
}
.nav.blue a:hover {
  background: #4b82ff;
}
.nav.blue.separate .logo a {
  border-right: 1px solid #fff;
}
.nav.blue.separate .left a {
  border-right: 1px solid #fff;
}
.nav.blue.separate .right a {
  border-left: 1px solid #fff;
}
.nav.orange {
  background: #fc9126;
}
.nav.orange a {
  color: #f9f9f9;
  background: #fc9126;
}
.nav.orange a:hover {
  background: #ff9c38;
}
.nav.orange.separate .logo a {
  border-right: 1px solid #fff;
}
.nav.orange.separate .left a {
  border-right: 1px solid #fff;
}
.nav.orange.separate .right a {
  border-left: 1px solid #fff;
}
.nav .item.sub a:after {
  font-family: FontAwesome;
  content: "";
  margin-left: 8px;
  margin-right: 2px;
}
.nav .item.sub:hover .sub-items {
  display: block;
}
.nav .item.sub:hover a:after {
  content: "";
  margin-right: 0px;
}
.nav .item.sub .sub-items {
  display: none;
  position: absolute;
}
.nav .item.sub .sub-items a:after {
  content: "";
}
.nav .item.sub .sub-items .item {
  display: block;
  float: none;
  height: 40px;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.nav .item.sub .sub-items .item a {
  border-left: 0px;
  border-right: 0px;
}
.nav .item.sub .sub-items .item.sub a:after {
  font-family: FontAwesome;
  content: "";
  margin-left: 8px;
}
.nav .item.sub .sub-items .item.sub:hover .sub-items {
  display: block;
}
.nav .item.sub .sub-items .item.sub:hover a:after {
  content: "";
  margin-left: 8px;
}
.nav .item.sub .sub-items .item.sub .sub-items {
  position: relative;
  top: -40px;
  left: 100%;
  display: none;
}
.nav .item.sub .sub-items .item.sub .sub-items.left {
  float: none;
  left: -100%;
}
.nav .item.sub .sub-items .item.sub .sub-items a:after {
  content: "";
}

.sidenav {
  display: relative;
  border: 1px solid #aaa;
}
.sidenav.radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidenav.radius .item:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 0px;
  -ms-border-radius-bottomleft: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sidenav.radius .item:first-child a {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 0px;
  -ms-border-radius-bottomleft: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.sidenav.radius .item:last-child {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 0px;
  -ms-border-radius-topright: 0px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidenav.radius .item:last-child a {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 0px;
  -ms-border-radius-topright: 0px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidenav.bold .item a {
  font-weight: bold;
}
.sidenav .header {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 7px 5px;
}
.sidenav .item {
  background: #fff;
  cursor: pointer;
}
.sidenav .item a {
  color: #333;
  display: block;
  padding: 10px 5px;
}
.sidenav .item a:hover {
  background: #f9f9f9;
}
.sidenav .item a i {
  float: right;
  margin-top: 4px;
  margin-right: 4px;
  width: 20px;
}
.sidenav .item.left a i {
  float: left;
  margin-left: 4px;
  margin-right: 8px;
}
.sidenav .item:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.table {
  position: relative;
  width: 100%;
  border: 1px solid #999;
  padding: 0xp;
  margin: 0px;
}
.table a {
  background: inherit;
}
.table tr {
  width: 100%;
}
.table th, .table td {
  text-align: left;
  padding: 3px 5px 3px 5px;
  margin: 0px;
  border: 0px;
}
.table tbody tr:nth-of-type(even) {
  background: #f4f4f4;
}
.table thead, .table tfoot {
  font-weight: bold;
  background: #f4f4f4;
}
.table.radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table th:first-child:nth-last-child(1),
.table th:first-child:nth-last-child(1) ~ th,
.table td:first-child:nth-last-child(1),
.table td:first-child:nth-last-child(1) ~ td {
  width: 100%;
}
.table th:first-child:nth-last-child(2),
.table th:first-child:nth-last-child(2) ~ th,
.table td:first-child:nth-last-child(2),
.table td:first-child:nth-last-child(2) ~ td {
  width: 50%;
}
.table th:first-child:nth-last-child(3),
.table th:first-child:nth-last-child(3) ~ th,
.table td:first-child:nth-last-child(3),
.table td:first-child:nth-last-child(3) ~ td {
  width: 33.33333%;
}
.table th:first-child:nth-last-child(4),
.table th:first-child:nth-last-child(4) ~ th,
.table td:first-child:nth-last-child(4),
.table td:first-child:nth-last-child(4) ~ td {
  width: 25%;
}
.table th:first-child:nth-last-child(5),
.table th:first-child:nth-last-child(5) ~ th,
.table td:first-child:nth-last-child(5),
.table td:first-child:nth-last-child(5) ~ td {
  width: 20%;
}
.table th:first-child:nth-last-child(6),
.table th:first-child:nth-last-child(6) ~ th,
.table td:first-child:nth-last-child(6),
.table td:first-child:nth-last-child(6) ~ td {
  width: 16.66667%;
}
.table th:first-child:nth-last-child(7),
.table th:first-child:nth-last-child(7) ~ th,
.table td:first-child:nth-last-child(7),
.table td:first-child:nth-last-child(7) ~ td {
  width: 14.28571%;
}
.table th:first-child:nth-last-child(8),
.table th:first-child:nth-last-child(8) ~ th,
.table td:first-child:nth-last-child(8),
.table td:first-child:nth-last-child(8) ~ td {
  width: 12.5%;
}
.table th:first-child:nth-last-child(9),
.table th:first-child:nth-last-child(9) ~ th,
.table td:first-child:nth-last-child(9),
.table td:first-child:nth-last-child(9) ~ td {
  width: 11.11111%;
}
.table th:first-child:nth-last-child(10),
.table th:first-child:nth-last-child(10) ~ th,
.table td:first-child:nth-last-child(10),
.table td:first-child:nth-last-child(10) ~ td {
  width: 10%;
}
.table.compress {
  table-layout: fixed;
  width: auto;
}
.table.compress tr, .table.compress th, .table.compress td {
  width: 1px !important;
  white-space: nowrap;
}

.tooltip .popup {
  display: none;
  position: absolute;
  width: 200px;
  padding: 5px;
  margin-top: 7px;
  margin-left: -100px;
  color: #333;
  background: #fff;
  border: 1px solid #999;
  z-index: 1000;
  text-align: center;
  text-decoration: none;
}
.tooltip .popup .header {
  font-weight: bold;
}
.tooltip .popup:after {
  position: absolute;
  font-family: FontAwesome;
  content: "\f0de";
  color: #999;
  top: -7px;
  left: 50%;
}
.tooltip .popup.inverse {
  color: #f9f9f9;
  background: #333;
  border-color: #333;
}
.tooltip .popup.inverse:after {
  color: #333;
}
.tooltip .popup.radius {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tooltip:hover .popup {
  display: block;
}
.tooltip:hover .top {
  bottom: 100%;
  margin-bottom: 7px;
}
.tooltip:hover .top:after {
  content: "\f0dd";
  top: auto;
  bottom: -8px;
}

.modal {
  position: fixed;
  display: none;
  width: 90%;
  top: 100px;
  margin-left: 5%;
  border: 1px solid #999;
  background: #fff;
  z-index: 2000;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modal.medium {
  width: 50%;
  margin-left: 25%;
}
.modal.small {
  width: 30%;
  margin-left: 35%;
}
.modal .header {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 15px;
  background: #f6f6f6;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  -ms-border-radius-topleft: 5px;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 0px;
  -ms-border-radius-bottomleft: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.modal .body {
  padding: 15px 15px;
}
.modal .footer {
  font-weight: bold;
  padding: 15px 15px;
  background: #f6f6f6;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 0px;
  -ms-border-radius-topright: 0px;
  -ms-border-radius-bottomright: 5px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modal .close {
  position: absolute;
  right: -1px;
  top: -1px;
  padding: 2px 6px 2px 7px;
  font-size: 20px;
  cursor: pointer;
}
.modal .close.styled {
  background: #fff;
  border: 1px solid #999;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -ms-border-radius-topleft: 0;
  -ms-border-radius-topright: 5px;
  -ms-border-radius-bottomright: 0px;
  -ms-border-radius-bottomleft: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
}
.modal .close.styled:hover {
  background: #f2f2f2;
}
.modal .close.styled.dark {
  color: #f9f9f9;
  background: #333;
  border-color: #333;
}
.modal .close.styled.dark:hover {
  background: #444;
}

.modal-disable-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.25);
  z-index: 1999;
  display: none;
}

.list {
  display: block;
  counter-reset: section;
}
.list.bullet .item:before {
  position: relative;
  font-size: 16px;
  content: "\2022";
  margin-right: 10px;
}
.list.asterisk .item:before {
  position: relative;
  font-size: 16px;
  content: "\2217";
  margin-right: 10px;
}
.list.order .item:before {
  position: relative;
  counter-increment: section;
  font-size: 16px;
  content: counters(section,".") " ";
  margin-right: 10px;
}
.list .item, .list .sub-items {
  display: block;
  padding: 2px 0px;
}
.list .item .list, .list .sub-items .list {
  display: block;
  margin-left: 19px;
}

.side-menu {
  position: fixed;
  top: 0px;
  left: -280px;
  width: 280px;
  height: 100%;
  background: #333;
  z-index: 1998;
}
.side-menu.medium {
  width: 400px;
  left: -400px;
}
.side-menu.large {
  width: 600px;
  left: -600px;
}
.side-menu.full {
  width: 100%;
  left: -100%;
}
.side-menu.right {
  right: -280px;
  left: auto;
}
.side-menu.right.medium {
  left: auto;
  right: -400px;
}
.side-menu.right.large {
  left: auto;
  right: -600px;
}
.side-menu.right.full {
  left: auto;
  right: -100%;
}
.side-menu .item {
  display: block;
  padding: 15px 10px;
  color: #fff;
  background: #333;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.side-menu .item:hover {
  background: #444;
}
.side-menu .item i {
  float: right;
  font-size: 22px;
}
.side-menu .image {
  display: block;
  margin: 0px;
  padding: 5px 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.side-menu .image img {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0px;
  border: 0px;
}
.side-menu.border .item {
  border-bottom: 1px solid #424242;
}

.column.large-1 {
  width: 7.83333%;
}

.column.large-2 {
  width: 16.16667%;
}

.column.large-3 {
  width: 24.5%;
}

.column.large-4 {
  width: 32.83333%;
}

.column.large-5 {
  width: 41.16667%;
}

.column.large-6 {
  width: 49.5%;
}

.column.large-7 {
  width: 57.83333%;
}

.column.large-8 {
  width: 66.16667%;
}

.column.large-9 {
  width: 74.5%;
}

.column.large-10 {
  width: 82.83333%;
}

.column.large-11 {
  width: 91.16667%;
}

.column.large-12 {
  width: 99.5%;
}

.column.push-large-1 {
  margin-left: 8.58333%;
}

.column.push-large-2 {
  margin-left: 16.91667%;
}

.column.push-large-3 {
  margin-left: 25.25%;
}

.column.push-large-4 {
  margin-left: 33.58333%;
}

.column.push-large-5 {
  margin-left: 41.91667%;
}

.column.push-large-6 {
  margin-left: 50.25%;
}

.column.push-large-7 {
  margin-left: 58.58333%;
}

.column.push-large-8 {
  margin-left: 66.91667%;
}

.column.push-large-9 {
  margin-left: 75.25%;
}

.column.push-large-10 {
  margin-left: 83.58333%;
}

.column.push-large-11 {
  margin-left: 91.91667%;
}

.column.push-large-12 {
  margin-left: 100.25%;
}

.column.stack-large {
  width: 99.5%;
}
.column.stack-large:not(:last-child) {
  margin-bottom: 1%;
}

/* All Pads Sizes (devices and browser) */
@media only screen and (max-width: 1024px) {
  .column.push-large-1 {
    margin-left: 0px;
  }

  .column.push-large-2 {
    margin-left: 0px;
  }

  .column.push-large-3 {
    margin-left: 0px;
  }

  .column.push-large-4 {
    margin-left: 0px;
  }

  .column.push-large-5 {
    margin-left: 0px;
  }

  .column.push-large-6 {
    margin-left: 0px;
  }

  .column.push-large-7 {
    margin-left: 0px;
  }

  .column.push-large-8 {
    margin-left: 0px;
  }

  .column.push-large-9 {
    margin-left: 0px;
  }

  .column.push-large-10 {
    margin-left: 0px;
  }

  .column.push-large-11 {
    margin-left: 0px;
  }

  .column.push-large-12 {
    margin-left: 0px;
  }

  .column.medium-1 {
    width: 7.83333%;
  }

  .column.medium-2 {
    width: 16.16667%;
  }

  .column.medium-3 {
    width: 24.5%;
  }

  .column.medium-4 {
    width: 32.83333%;
  }

  .column.medium-5 {
    width: 41.16667%;
  }

  .column.medium-6 {
    width: 49.5%;
  }

  .column.medium-7 {
    width: 57.83333%;
  }

  .column.medium-8 {
    width: 66.16667%;
  }

  .column.medium-9 {
    width: 74.5%;
  }

  .column.medium-10 {
    width: 82.83333%;
  }

  .column.medium-11 {
    width: 91.16667%;
  }

  .column.medium-12 {
    width: 99.5%;
  }

  .column.push-medium-1 {
    margin-left: 8.58333%;
  }

  .column.push-medium-2 {
    margin-left: 16.91667%;
  }

  .column.push-medium-3 {
    margin-left: 25.25%;
  }

  .column.push-medium-4 {
    margin-left: 33.58333%;
  }

  .column.push-medium-5 {
    margin-left: 41.91667%;
  }

  .column.push-medium-6 {
    margin-left: 50.25%;
  }

  .column.push-medium-7 {
    margin-left: 58.58333%;
  }

  .column.push-medium-8 {
    margin-left: 66.91667%;
  }

  .column.push-medium-9 {
    margin-left: 75.25%;
  }

  .column.push-medium-10 {
    margin-left: 83.58333%;
  }

  .column.push-medium-11 {
    margin-left: 91.91667%;
  }

  .column.push-medium-12 {
    margin-left: 100.25%;
  }

  .column.stack-medium {
    width: 99.5%;
  }
  .column.stack-medium:not(:last-child) {
    margin-bottom: 1%;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .column.push-medium-1 {
    margin-left: 0px;
  }

  .column.push-medium-2 {
    margin-left: 0px;
  }

  .column.push-medium-3 {
    margin-left: 0px;
  }

  .column.push-medium-4 {
    margin-left: 0px;
  }

  .column.push-medium-5 {
    margin-left: 0px;
  }

  .column.push-medium-6 {
    margin-left: 0px;
  }

  .column.push-medium-7 {
    margin-left: 0px;
  }

  .column.push-medium-8 {
    margin-left: 0px;
  }

  .column.push-medium-9 {
    margin-left: 0px;
  }

  .column.push-medium-10 {
    margin-left: 0px;
  }

  .column.push-medium-11 {
    margin-left: 0px;
  }

  .column.push-medium-12 {
    margin-left: 0px;
  }

  .column.small-1 {
    width: 7.83333%;
  }

  .column.small-2 {
    width: 16.16667%;
  }

  .column.small-3 {
    width: 24.5%;
  }

  .column.small-4 {
    width: 32.83333%;
  }

  .column.small-5 {
    width: 41.16667%;
  }

  .column.small-6 {
    width: 49.5%;
  }

  .column.small-7 {
    width: 57.83333%;
  }

  .column.small-8 {
    width: 66.16667%;
  }

  .column.small-9 {
    width: 74.5%;
  }

  .column.small-10 {
    width: 82.83333%;
  }

  .column.small-11 {
    width: 91.16667%;
  }

  .column.small-12 {
    width: 99.5%;
  }

  .column.push-small-1 {
    margin-left: 8.58333%;
  }

  .column.push-small-2 {
    margin-left: 16.91667%;
  }

  .column.push-small-3 {
    margin-left: 25.25%;
  }

  .column.push-small-4 {
    margin-left: 33.58333%;
  }

  .column.push-small-5 {
    margin-left: 41.91667%;
  }

  .column.push-small-6 {
    margin-left: 50.25%;
  }

  .column.push-small-7 {
    margin-left: 58.58333%;
  }

  .column.push-small-8 {
    margin-left: 66.91667%;
  }

  .column.push-small-9 {
    margin-left: 75.25%;
  }

  .column.push-small-10 {
    margin-left: 83.58333%;
  }

  .column.push-small-11 {
    margin-left: 91.91667%;
  }

  .column.push-small-12 {
    margin-left: 100.25%;
  }

  .column.stack-small {
    width: 99.5%;
  }
  .column.stack-small:not(:last-child) {
    margin-bottom: 1%;
  }
}
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.2.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}
.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}
