@mixin border_radius($top_left: 5px, $top_right: 5px, $bot_left: 5px, $bot_right: 5px) {
    -webkit-border-top-left-radius: $top_left;
    -webkit-border-top-right-radius: $top_right;
    -webkit-border-bottom-right-radius: $bot_right;
    -webkit-border-bottom-left-radius: $bot_left;
    -moz-border-radius-topleft: $top_left;
    -moz-border-radius-topright: $top_right;
    -moz-border-radius-bottomright: $bot_right;
    -moz-border-radius-bottomleft: $bot_left;
    -ms-border-radius-topleft: $top_left;
    -ms-border-radius-topright: $top_right;
    -ms-border-radius-bottomright: $bot_right;
    -ms-border-radius-bottomleft: $bot_left;
    border-top-left-radius: $top_left;
    border-top-right-radius: $top_right;
    border-bottom-right-radius: $bot_right;
    border-bottom-left-radius: $bot_left;
}

@mixin border_boxing() {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin appearance($style) {
    appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

@mixin transition_ease() {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

@mixin no_select() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin text_align() {
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}

@mixin fit() {
    &.fit {
        float: left;
    }
}

@mixin clear() {
    clear: both;
}