// main settings

//$font_import: 'http://fonts.googleapis.com/css?family=Droid+Sans:400,700';
//$font: 'Droid Sans', sans-serif;

$font_import: 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300';
$font: 'Open Sans', sans-serif;

//$font: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
//$font: "source-sans-pro", sans-serif;

// core

$color_black: #222;
$color_white: #f9f9f9;
$bg_white: #fff;

// panel colors

$msg_color_white: #f6f6f6;

$msg_bg_red: #ffbebe;
$msg_bg_blue: #d2e8ff;
$msg_bg_grey: #dbdbdb;
$msg_bg_green: #b4ffc8;
$msg_bg_white: #fafafa;
$msg_bg_black: #323232;
$msg_bg_orange: #ffdec2;

$msg_bg_light_grey: #f6f6f6;

$msg_border_red: #ff5050;
$msg_border_blue: #74b9ff;
$msg_border_grey: #c3c3c3;
$msg_border_green: #2ce45c;
$msg_border_black: #323232;
$msg_border_orange: #f89541;

// panel settings

$panel_border: 2px;
$panel_pading: 5px;

// topnav

$m_color_black: #333;
$m_color_white: #f9f9f9;
$m_color_grey: #999;

$m_bg_black: #333;
$m_bg_red: #fa5252;
$m_bg_blue: #3070ff;
$m_bg_orange: #fc9126;
$m_bg_green: #25e23b;
$m_bg_white: #fff;

$m_bg_hover_black: #444;
$m_bg_hover_red: #ff6161;
$m_bg_hover_blue: #4b82ff;
$m_bg_hover_orange: #ff9c38;
$m_bg_hover_green: #2cea42;
$m_bg_hover_white: #f2f2f2;

$m_border_grey: #999;
$m_border_white: #fff;
$m_border_blue: #3070ff;
$m_border_orange: #fc9126;
$m_border_green: #32ff4a;
$m_border_black: #333;

// topnav submenu icons

$submenu_level_one_icon_open: "\f107";
$submenu_level_one_icon_closed: "\f0d7";
$submenu_level_two_icon_open: "\f105";
$submenu_level_two_icon_closed: "\f0da";

// button colors

$b_color_black: #444;
$b_color_white: #f6f6f6;

$b_bg_red: rgba(253, 46, 46, 0.88);
$b_bg_blue: rgba(46, 126, 253, 0.94);
$b_bg_white: rgba(250, 250, 250, 0.98);
$b_bg_grey: rgba(219, 219, 219, 0.99);
$b_bg_black: rgba(50, 50, 50, 0.98);
$b_bg_green: rgba(67, 172, 106, 0.98);
$b_bg_orange: rgba(244, 154, 48, 0.94);

$b_border_red: rgba(255, 41, 41, 0.88);
$b_border_blue: rgba(27, 115, 255, 0.94);
$b_border_green: rgba(58, 172, 100, 0.98);
$b_border_black: rgba(51, 51, 51, 0.97);
$b_border_orange: rgba(242, 148, 37, 0.94);
$b_border_white: rgba(250, 250, 250, 0.99);
$b_border_grey: rgba(195, 195, 195, 0.99);

$b_bg_hover_red: rgba(253, 60, 60, 0.88);
$b_bg_hover_blue: rgba(61, 136, 255, 0.94);
$b_bg_hover_white: rgba(242, 242, 242, 0.97);
$b_bg_hover_black: rgba(67, 66, 66, 0.96);
$b_bg_hover_green: rgba(90, 178, 122, 0.98);
$b_bg_hover_orange: rgba(239, 161, 70, 0.94);
$b_bg_hover_grey: rgba(227, 227, 227, 0.99);

// form

$form_input_text_pading: 0px 5px;
$form_input_text_font_size: 14px;
$form_input_border_color: #bbb;

// sidemenu

$small_width: 280px;
$medium_width: 400px;
$large_width: 600px;
$full_width: 100%;