input[type=submit] {
    width: 100%;
}

.button, .button input[type=submit] {
    display: block;
    cursor: pointer;
    color: $b_color_black;
    padding: 5px 15px;
    background: $b_bg_grey;
    border: 1px solid $b_border_grey;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    height: 35px;
    
    @include no_select();

    @include border_boxing();
    
    @include fit(); 
    
    @include text_align();
    
    &:hover {
        color: $b_color_black;
        background: $b_bg_hover_grey;
    }
    
    &:focus {
        outline: none;
    }
    
    &.radius {
        @include border_radius(5px);
    }
    
    &.upper {
        text-transform: uppercase;
    }
    
    &.bold {
        font-weight: bold;
    }
    
    &.large {
        padding: 8px 20px;
        font-size: 20px;
        height: 45px;
    }
    
    &.small {
        padding: 2px 13px;
        font-size: 14px;
        height: 25px;
    }
    
    &.red {
        color: $b_color_white;
        background: $b_bg_red;
        border-color: $b_border_red;

        &:hover {
            color: $b_color_white;
            background: $b_bg_hover_red;
        }
    }
    
    &.blue {
        color: $b_color_white;
        background: $b_bg_blue;
        border-color: $b_border_blue;
        
        &:hover {
            color: $b_color_white;
            background: $b_bg_hover_blue;
        }
    }
    
    &.green {
        color: $b_color_white;
        background: $b_bg_green;
        border-color: $b_border_green;
        
        &:hover {
            color: $b_color_white;
            background: $b_bg_hover_green;
        }
    }
    
    &.orange {
        color: $b_color_white;
        background: $b_bg_orange;
        border-color: $b_border_orange;
        
        &:hover {
            color: $b_color_white;
            background: $b_bg_hover_orange;
        }
    }
    
    &.black {
        color: $b_color_white;
        background: $b_bg_black;
        border-color: $b_border_black;
        
        &:hover {
            color: $b_color_white;
            background: $b_bg_hover_black;
        }
    }
    
    &.white {
        color: $b_color_black;
        background: $b_bg_white;
        border-color: $b_border_black;
        
        &:hover {
            color: $b_color_black;
            background: $b_bg_hover_white;
        }
    }
}

.buttons {
    &.icon {
        .button:not(:first-child) {
            border-left: 0px;
        }
        
        &.separate {
            .button:not(:first-child) {
                border-left: 1px;
                margin-left: 5px;
            }
        }
    }
    
    &.radius {
        .button:first-child {
            @include border_radius(5px, 0, 5px, 0);
        }
        .button:last-child {
            @include border_radius(0, 5px, 0, 5px); 
        }
    }
}