@import url($font_import);

body, h1, h2, h3, h4, h6, p, a, span {
	font-family: $font;
	color: $color_black;
	background: $bg_white;
	margin: 0px;
}

a {
    position: relative;
    color: #5cabf8;
    cursor: pointer;
}

a:hover {
    color: #64b3ff;
}


.upper {
	text-transform: uppercase;
}