.form {
	.row {
		display: block;
		margin-bottom: 10px;

		input[type=text] {
			display: block;
			width: calc(100% - 12px);
		}
		input[type=password] {
			display: block;
			width: calc(100% - 12px);
		}
		input[type=checkbox] {
			cursor: pointer;
		}
	}
}

input[type=text] {
    height: 33px;
	padding: $form_input_text_pading;
	font-size: $form_input_text_font_size;
	border: 1px solid $form_input_border_color;
	&.radius {
		@include border_radius(5px);	
	}
    
    &:focus {
        outline: none;
    }
}

input[type=password] {
    height: 33px;
	padding: $form_input_text_pading;
	font-size: $form_input_text_font_size;
	border: 1px solid $form_input_border_color;
	&.radius {
		@include border_radius(5px);	
	}
    
    &:focus {
        outline: none;
    }
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
	.select {
        background: #fff;
        border: 1px solid $form_input_border_color;
        
        &.radius {
            @include border_radius(5px);	
        }
        
        &:after {
            position: absolute;
            top: 27px;
            right: 12px;
            font-family: "FontAwesome";
            font-size: 18px;
            content: "\f0dd";
            cursor: pointer;
        }
        
        select {
            width: 100%;
            height: 33px;
            cursor: pointer;
            font-family: $font;
            padding: 8px 8px 9px 8px;
            font-size: $form_input_text_font_size;
            border: none;
            box-shadow: none;
            background: transparent;

            @include appearance(none);
            
            &:focus {
                outline: none;
            }
        }
    }

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		select {
			padding-right:18px
		}
	}
}