$columns: 12;
$column_spacing: 0.25%;
$column_max_width: 100%;
$column_stack_spacing_bot: 1%;

.row {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-bottom: 0.3%;
    @include clear();
}

.column {
    position: relative;
	display: block;
    float: left;
    margin: 0 $column_spacing 0.3% $column_spacing;
}

@mixin columns($size) {
	@for $i from 1 through 12 {
		.column.#{$size}-#{$i} {
			width: ($column_max_width - (($columns / $i) / 2)) / ($columns / $i);
		}
	}
}

@mixin column_push($size) {
	@for $i from 1 through 12 {
		.column.push-#{$size}-#{$i} {
			margin-left: ($column_max_width - (($columns / $i) / 2)) / ($columns / $i) + ($column_spacing * 3);
		}
	}
}

@mixin column_push_zero($size) {
    @for $i from 1 through 12 {
        .column.push-#{$size}-#{$i} {
            margin-left: 0px;
        }
    }
}

@mixin column_stack($size) {
	.column.stack-#{$size} {
		width: $column_max_width - ($column_spacing * 2);
		&:not(:last-child) {
			margin-bottom: $column_stack_spacing_bot;
		}
	}
}