.list {
    display: block;
    counter-reset: section;
    
    &.bullet {
        .item:before {
            position: relative;
            font-size: 16px;
            content: "\2022";
            margin-right: 10px;
        } 
    }
    
    &.asterisk {
        .item:before {
            position: relative;
            font-size: 16px;
            content: "\2217";
            margin-right: 10px;
        } 
    }
    
    &.order {
        .item:before {
            position: relative;
            counter-increment: section;
            font-size: 16px;
            content: counters(section,".") " ";
            margin-right: 10px;
        } 
    }
    
    .item, .sub-items{
        display: block;
        padding: 2px 0px;
        .list {
            display: block;
            margin-left: 19px;
        }
    }
}