.modal {
    position: fixed;
    display: none;
    width: 90%;
    top: 100px;
    margin-left: 5%;
    border: 1px solid $m_border_grey;
    background: $m_bg_white;
    z-index: 2000;
    
    &.medium {
        width: 50%;
        margin-left: 25%;
    }
    
    &.small {
        width: 30%;
        margin-left: 35%;
    }

    @include border_radius(5px);
    
    .header {
        font-size: 20px;
        font-weight: bold;
        padding: 15px 15px;
        background: $msg_bg_light_grey;
        @include border_radius(5px, 5px, 0px, 0px);
    }
    
    .body {
        padding: 15px 15px;
    }
    
    .footer {
        font-weight: bold;
        padding: 15px 15px;
        background: $msg_bg_light_grey;
        @include border_radius(0px, 0px, 5px, 5px);
    }
    
    .close {
        position: absolute;
        right: -1px;
        top: -1px;
        padding: 2px 6px 2px 7px;
        font-size: 20px;        
        cursor: pointer;
        
        &.styled {
            background: $m_bg_white;
            border: 1px solid $m_border_grey;
            
            @include border_radius(0, 5px, 5px, 0px);
            
            &:hover {
                background: $m_bg_hover_white;
            }
            
            &.dark {
                color: $m_color_white;
                background: $m_bg_black;
                border-color: $m_border_black;
                &:hover {
                    background: $m_bg_hover_black;
                }
            }
        }
    }
}

.modal-disable-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.25);
    z-index: 1999;
    display: none;
}