.panel {
    display: block;
    width: auto;
    padding: $panel_pading; 
    border: $panel_border solid $msg_border_grey;
    background: $msg_bg_white;
    
    @include fit();
    
    &.blue {
        background: $msg_bg_blue;
        border-color: $msg_border_blue;
    }
    
    &.red {
        background: $msg_bg_red;
        border-color: $msg_border_red;
    }
    
    &.green {
        background: $msg_bg_green;
        border-color: $msg_border_green;
    }
    
    &.orange {
        background: $msg_bg_orange;
        border-color: $msg_border_orange;
    }
    
    &.inverse {
        color: $msg_color_white;
        background: $msg_bg_black;
        border-color: $msg_border_black;
    }
    
    &.radius {
        @include border_radius();
    }

    .header {
        font-size: 18px;
        font-weight: bold;
        
        @include text_align();
        
        &.underline {
            text-decoration: underline;
        }
    }
    
    .content {
        text-align: left;
        margin: 5px 0 5px 0;
        
        @include text_align();
    }
}