.side-menu {
	position: fixed;
	top: 0px;
    left: -$small_width;
	width: $small_width;
	height: 100%;
    background: #333;
    z-index: 1998;
    
    &.medium {
        width: $medium_width;
        left: -$medium_width;
    }
    
    &.large {
        width: $large_width;
        left: -$large_width;
    }
    
    &.full {
        width: $full_width;
        left: -$full_width;
    }
    
    &.right {
        right: -$small_width;
        left: auto;
        
        &.medium {
            left: auto;
            right: -$medium_width;
        }

        &.large {
            left: auto;
            right: -$large_width;
        }

        &.full {
            left: auto;
            right: -$full_width;
        }
    }
    
    .item {
        display: block;
        padding: 15px 10px;
        color: #fff;
        background: #333;
        font-size: 16px;
        
        @include no_select();
        @include border_boxing(); 
        
        &:hover {
            background: #444;
        }
        
        i {
            float: right;
            font-size: 22px;
        }
    }
    
    .image {
        display: block;
        margin: 0px;
        padding: 5px 10px;
        
        @include no_select();
        
        img {
            display: block;
            width: 64px;
            height: 64px;
            margin: 0px;
            border: 0px;
        }
    }
    
    &.border {
        .item {
            border-bottom: 1px solid #424242;
        }
    }
}