.sidenav {
    display: relative;
    border: 1px solid #aaa;
    
    &.radius {
        @include border_radius();
        
        .item:first-child {
            @include border_radius(5px, 5px, 0px, 0px);
            
            a {
                @include border_radius(5px, 5px, 0px, 0px);
            }
        }
        
        .item:last-child {
            @include border_radius(0px, 0px, 5px, 5px);
            a {
                @include border_radius(0px, 0px, 5px, 5px);
            }
        }
    }
    
    &.bold {
        .item a {
            font-weight: bold;
        }
    }
    
    .header {
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        padding: 7px 5px;
    }
    
    .item {
        background: #fff;
        cursor: pointer;
        
        a {
            color: #333;
            display: block;
            padding: 10px 5px;
        
            &:hover {
                background: #f9f9f9;
            }
            
            i {
                float: right;
                margin-top: 4px;
                margin-right: 4px;
                width: 20px;
            }
        }
        
        &.left {
            a i {
                float: left;
                margin-left: 4px;
                margin-right: 8px;
            }
        }
        
        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }
    }
}