@mixin table_column_size($number) {
    $max_width: 100%;
    
    @for $i from 1 through $number {
        th:first-child:nth-last-child(#{$i}),
        th:first-child:nth-last-child(#{$i}) ~ th,
        td:first-child:nth-last-child(#{$i}),
        td:first-child:nth-last-child(#{$i}) ~ td {
            width: $max_width / $i; 
        }
    }
}

.table {
    position: relative;
    width: 100%;
    border: 1px solid $m_border_grey;
    padding: 0xp;
    margin: 0px;
    
    a {
        background: inherit;
    }
    
    tr {
        width: 100%;
    }
    
    th, td {
        text-align: left;
        padding: 3px 5px 3px 5px;
        margin: 0px;
        border: 0px;
    }
    
    tbody tr:nth-of-type(even) {
        background: #f4f4f4;
    }
    
    thead, tfoot {
        font-weight: bold;
        background: #f4f4f4;
    }
    
    &.radius {
        @include border_radius(5px);
    }
    
    @include table_column_size(10);
    
    &.compress {
        table-layout: fixed;
        width: auto;
        
        tr, th, td {
            width: 1px !important;
            white-space: nowrap;
        }
    }
    
}