.tooltip {
    .popup {
        display: none;
        position: absolute;
        width: 200px;
        padding: 5px;
        margin-top: 7px;
        margin-left: -100px;
        color: $m_color_black;
        background: $m_bg_white;
        border: 1px solid $m_border_grey;
        z-index: 1000;
        text-align: center;
        text-decoration: none;
        
        .header {
            font-weight: bold;
        }
        
        &:after {
            position: absolute;
            font-family: FontAwesome;
            content: "\f0de";
            color: $m_color_grey;
            top: -7px;
            left: 50%;
        }
        
        &.inverse {
            color: $m_color_white;
            background: $m_bg_black;
            border-color: $m_border_black;
            
            &:after {
                color: $m_color_black;
            }
        }
        
        
        &.radius {
            @include border_radius(5px);
        }
    }
    
    &:hover {
        .popup {
            display: block;
        }
        
        .top {
            bottom: 100%;
            margin-bottom: 7px;
            
            &:after {
                content: "\f0dd";
                top: auto;
                bottom: -8px;
            }
        }
    }
}