@mixin nav_separator_color($color) {
    .logo a {
        border-right: 1px solid $color;
    }
    .left a {
        border-right: 1px solid $color;
    }
    .right a {
        border-left: 1px solid $color;
    }
}

.nav {
    display: block;
    width: 100%;
    min-height: 40px;
    background: $m_bg_black;
    
    a {
        text-decoration: none;
    }
    
    .logo {
        float: left;
        @include border_boxing();
        
        a {
            display: block;
            padding: 6px 15px 7px 10px;
            color: $m_color_white;
            background: $m_bg_black;
            font-size: 20px;
            cursor: pointer;
            
            i {
                font-size: 22px;
            }
        }
    }
    
    .item {
        float: left;
        @include border_boxing();
        
        a {
            display: block;
            padding: 8px 15px;
            font-size: 18px;
            color: $m_color_white;
            background: $m_bg_black;
            cursor: pointer;
            
            &:hover + .sub-items {
                display: block;
            }
        }
    }
    
    a:hover {
        background: $m_bg_hover_black;
    }
    
    &.separate {
        @include nav_separator_color($m_border_grey);
        
        .right .sub-items {
            margin-left: 1px;
        }
    }
    
    .left {
        display: block;
        float: left;
    }
    
    .right {
        display: block;
        float: right;
    }
    
    &.red {
        background: $m_bg_red;
        
        a {
            color: $m_color_white;
            background: $m_bg_red;
            
            &:hover {
                background: $m_bg_hover_red;
            }
        }
        
        &.separate {
            @include nav_separator_color($m_border_white);
        }
    }
    
    &.blue {
        background: $m_bg_blue;
        
        a {
            color: $m_color_white;
            background: $m_bg_blue;
            
            &:hover {
                background: $m_bg_hover_blue;
            }
        }
        
        &.separate {
            @include nav_separator_color($m_border_white);
        }
    }
    
    &.orange {
        background: $m_bg_orange;
        
        a {
            color: $m_color_white;
            background: $m_bg_orange;
            
            &:hover {
                background: $m_bg_hover_orange;
            }
        }
        
        &.separate {
            @include nav_separator_color($m_border_white);
        }
    }
    
    .item.sub {
        
        a:after {
            font-family: FontAwesome;
            content: $submenu_level_one_icon_closed;
            margin-left: 8px;
            margin-right: 2px;
        }
        
         &:hover {
            .sub-items {
                display: block;
            }
            
            a:after {
                content: $submenu_level_one_icon_open;
                margin-right: 0px;
            }
        }
        
        .sub-items {
            display: none;
            position: absolute;
            
            a:after {
                content: "";
            }
            
            .item {
                display: block;
                float: none;
                height: 40px;
                
                @include border_boxing();
                
                a {
                    border-left: 0px;
                    border-right: 0px;
                }
                
                &.sub {
                    
                    a:after {
                        font-family: FontAwesome;
                        content: $submenu_level_two_icon_closed;
                        margin-left: 8px;
                    }
                    
                    &:hover {
                        .sub-items {
                            display: block;
                        }

                        a:after {
                            content: $submenu_level_two_icon_open;
                            margin-left: 8px;
                        }
                    }
                    
                    .sub-items {
                        
                        position: relative;
                        top: -40px;
                        left: 100%;
                        display: none;
                        
                        &.left {
                            float: none;
                            left: -100%;
                        }
                        
                        a:after {
                            content: "";
                        }
                    }
                }
            }
        }
    }
}